* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-nav: #0084FD;
    --bg-sec: 
}

.container {
    max-width: 1200px;
    margin: auto;
}

.container-small {
    max-width: 900px;
    margin: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

/* header */

header {
    background-color: var(--bg-nav);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

nav ul {
    display: flex;
    gap: 1.5rem;
}

nav li a {
    color: white;
}

.started {
    color: black;
    background-color: white;
    border-radius: 25px;
    padding: .5em .7em;
}

.hamburger {
    display: none;
    font-size: 1.2em;
}

/* main */

/* section 1  */

.cells {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem -.5rem -1rem -.5rem;
}


.cell {
    background-color: salmon;
    height: 200px;
    flex-basis: 33.3333%;
    border: 1px solid black;
    padding: 0 .5rem 1rem;
}

.cell-hero {
    flex-basis: 66.6666%;
}

@media screen and (max-width: 850px) {
    .container {
        width: 100%;
    }

    nav {
        padding-inline: 1rem;
    }

    nav ul {
        display: none;
    }

    .hamburger {
        color: white;
        display: inline-block;
        cursor: pointer;
    }
}