* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-nav: #0084FD;
    --bg-sec: #9792E4;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.container-small {
    max-width: 900px;
    margin: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

/* header */

header {
    background-color: var(--bg-nav);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

nav ul {
    display: flex;
    gap: 1.5rem;
}

nav li a {
    color: white;
}

.started {
    color: black;
    background-color: white;
    border-radius: 25px;
    padding: .5em .7em;
}

.hamburger {
    display: none;
    font-size: 1.2em;
}

/* main */

/* section 1  */

.cells .content {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem -.5rem -1rem -.5rem;
}

.cell {
    background-color: salmon;
    height: 200px;
    flex-basis: 33.3333%;
    border: 1px solid black;
    padding: 0 .5rem 1rem;
}

.cell-hero {
    flex-basis: 66.6666%;
}

@media screen and (max-width: 850px) {
    .container {
        width: 100%;
    }

    nav {
        padding-inline: 1rem;
    }

    nav ul {
        display: none;
    }

    .hamburger {
        color: white;
        display: inline-block;
        cursor: pointer;
    }
}

@media screen and (max-width: 480px) {
    .cells .content {
        flex-direction: column;
    }
}

/* section 2 */

    .planning {
        color: white;
        background-color: var(--bg-sec);
        margin-top: 10rem;
    }

    .planning .content {
        display: flex;
        padding-inline: 2rem;
    }

    .card-hero {
    
    }
    
    .img-big {
        height: 32em;
        margin: 5rem 1rem 3rem 0;
    }

    .card-hero h2 {
        font-size: 1.9em;
    }

    .card-hero p {
        margin: 3rem 0;
        width: 90%;
    }
    
    .card {
        padding: 1rem;
        align-self: flex-end;
    }
    
    .card .content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: black;
        background-color: white;
        border-radius: 20px;
        padding: 1rem;
    }

    .img-small {
        height: 10em;
    }

    @media screen and (max-width: 850px) {
        .planning .content {
            flex-direction: column;
            padding: 1rem;
        }

        .img-big {
            width: 100%;
            height: auto;
        }

        .card {
            padding: 0;
        }

        .card .content {
            width: 100%;
        }

        .img-small {
            width: 50%;
            height: auto;
        }
    }

    /* section 3 testimonials */

    